li {
    float: left;
}

select {
    float: left;
}

.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.article-full-image {
    margin-top: 15px;
    margin-bottom: 15px;
}
.form-description {
}

.form-text-box {
}

.navbar, .navbar-default{
    display: inline-block;
    vertical-align: top;
    position: fixed;
    text-align: center;
}

.page-content {
    max-width: 1000px;
    margin: auto;
    margin-top: 10px;
}

#body-container {
    margin-top: 50px;
    vertical-align: top;
}

#nav-container {
    background-color: white;
    border-bottom: 1px solid;
    padding-bottom: 8px;
}

#submit-form {
    max-width: 800px;
}