<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/base.css">
    <title>{{ title }} - The Hound's Bark</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>.container svg {
        display: block;
        align: center;
    }</style>
    {% block head %}{% endblock %}
</head>
<body>
<div class="container text-center sticky-top site-navigation page-navigation" id="nav-container">
    <h1><a href="/">The Hounds Bark Logo</a></h1>
    <div class="container">
        <nav class="navbar" id="navigation">
            <a href="/#recent">Recent</a>
            <a href="/#feature">Feature</a>
            <a href="/#opinion">Opinion</a>
            <a href="/#entertainment">Entertainment</a>
            <a href="/#sports">Sports</a>
            <a href="/#news">News</a>
            <a href="/#flipside">Flipside</a>
            <a href="staff">Staff</a>
            <a href="contact">Contact Us</a>
            <a href="submit">Submit</a>
        </nav>
    </div>
</div>
{% block content %}{% endblock %}
<hr>
<div class="container text-center">
    <h3>The Hound's Bark</h3>
    <p>The official student news site of Healdsburg High School</p>
    <div class="container">
    </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>
</html>